<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Luxuper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="/js/load.js" defer></script>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>

<%- include('templates/navbar') %>

  <main class="container">

    <section class="filters-card">

      <h1>All Products</h1>
      <p>Browse the Luxuper catalog.</p>

      <form method="GET" action="/api/products">
        <section class="form-card">
          <div class="filter-group">
            <label for="search">Search</label>
            <input type="text" id="search" name="search" placeholder="Search name or description..." value="<%= query?.search || '' %>" />
          </div>

          <div class="filter-group">
            <label for="category">Category</label>
            <select id="category" name="category">
              <option value="">All</option>

                <% categories.forEach(cat => { %>
                  <option value="<%= cat %>"><%= cat %></option>
                <% }); %>

            </select>
          </div>

          <div class="filter-group">
            <label for="sort">Sort</label>
            <select id="sort" name="sort">
              <option value="featured">Featured</option>
              <option value="price_asc">Price Low → High</option>
              <option value="price_desc">Price High → Low</option>
              <option value="name_asc">Name A → Z</option>
            </select>
          </div>

          <button class="button secondary" type="submit">
            Filter
          </button>

        <button class="button secondary" type="button" onclick="window.location='/products'">
        Clear
        </button>

      </form>



    </section>

    <p class="product-count">
      Showing <%= products.length %> products
    </p>


    <section class="product-grid">

      <% products.forEach(product => { %>


      <section class="card">
        <header class="hero">
          <div class="hero-content">
            <h1><%= product.productName %></h1>
            <p><%= product.productType %></p>
          </div>

          <div class="hero-image">
            <img src="/<%= product.image_url %>" alt="<%= product.productName %>" />
          </div>
        </header>

        <h2>Product Information</h2>

        <p>
          <strong>Category:</strong>
          <%= product.productType %>
        </p>

        <p>
          <strong>Price:</strong>
          $<%= product.producePrice %>
        </p>

        <p>
          <strong>Description:</strong>
        </p>

        <p>
          <%= product.productDesc %>
        </p>

        <br>

        <a class="button secondary" href="/products/<%= product.id %>">
          View Product
        </a>

      </section>

      <% }); %>

  </main>

<%- include('templates/footer') %>

</body>

</html>